[submodule "Collections"]
	path = Collections
	url = https://sanmadjack@github.com/sanmadjack/Collections.git
[submodule "Logger"]
	path = Logger
	url = https://sanmadjack@github.com/sanmadjack/Logger.git
[submodule "Config"]
	path = Config
	url = https://sanmadjack@github.com/sanmadjack/Config.git
[submodule "MVC"]
	path = MVC
	url = https://sanmadjack@github.com/sanmadjack/MVC.git
[submodule "Communication"]
	path = Communication
	url = https://sanmadjack@github.com/sanmadjack/Communication.git
[submodule "Communication.WPF"]
	path = Communication.WPF
	url = https://sanmadjack@github.com/sanmadjack/Communication.git
[submodule "Communication.Translator"]
	path = Communication.Translator
	url = https://sanmadjack@github.com/sanmadjack/Communication.git
[submodule "Translator"]
	path = Translator
	url = https://sanmadjack@github.com/sanmadjack/Translator.git
[submodule "Translator.WPF"]
	path = Translator.WPF
	url = https://sanmadjack@github.com/sanmadjack/Translator.git
