[submodule "Libs/Collections"]
	path = Libs/Collections
	url = ../../sanmadjack/Collections.CSharp.git
[submodule "Libs/Config"]
	path = Libs/Config
	url = ../../sanmadjack/Config.CSharp.git
[submodule "Libs/Email"]
	path = Libs/Email
	url = ../../sanmadjack/Email.CSharp
[submodule "Libs/Exceptions"]
	path = Libs/Exceptions
	url = ../../sanmadjack/Exceptions.CSharp.git
[submodule "Libs/Logger"]
	path = Libs/Logger
	url = ../../sanmadjack/Logger.CSharp.git
[submodule "Libs/MVC"]
	path = Libs/MVC
	url = ../../sanmadjack/MVC.CSharp.git
[submodule "Libs/Translator"]
	path = Libs/Translator
	url = ../../sanmadjack/Translator.CSharp.git
[submodule "Libs/Email.WPF"]
	path = Libs/Email.WPF
	url = ../../sanmadjack/Email.WPF.CSharp.git
[submodule "Libs/Translator.WPF"]
	path = Libs/Translator.WPF
	url = ../..sanmadjack/Translator.WPF.CSharp.git
[submodule "Libs/MVC.Translator"]
	path = Libs/MVC.Translator
	url = ../../sanmadjack/MVC.Translator.CSharp.git
[submodule "Libs/MVC.WPF"]
	path = Libs/MVC.WPF
	url = ../../sanmadjack/MVC.WPF.CSharp.git
[submodule "Libs/WPF"]
	path = Libs/WPF
	url = ../../sanmadjack/WPF.CSharp.git
[submodule "Libs/GameSave.Info"]
	path = Libs/GameSave.Info
	url = ../../GameSaveInfo/Lib.CSharp.git
[submodule "Libs/XmlData"]
	path = Libs/XmlData
	url = ../../sanmadjack/XmlData.CSharp.git
[submodule "MASGAU.Common/Data"]
	path = MASGAU.Common/Data
	url = ../../GameSaveInfo/Data.git
[submodule "MASGAU.Common/Strings"]
	path = MASGAU.Common/Strings
	url = ../Strings.git
[submodule "Libs/Updater"]
	path = Libs/Updater
	url = ../../sanmadjack/Updater.CSharp.git
[submodule "Libs/VDF"]
	path = Libs/VDF
	url = ../../sanmadjack/VDF.git
