<?xml version="1.0" encoding="utf-8"?>
<!--
	This file stores XML definitions for backing up system-related data.
  This is mainly for backing up Games for Windows account data,
  which is required in order to restore games like Arkham Asylum.
-->
<games>

  <game_data name="MASGAUCustomXML">
    <!--
      Idea Provided By: VincentV137
    -->
    <title>MASGAU Custom XML</title>
    <root registry="HKEY_LOCAL_MACHINE\SOFTWARE\MASGAU\InstallPath" />
    <root path="%INSTALLLOCATION%\MASGAU" />
    <identifier filename="custom.xml" />
    <save filename="custom.xml" />
  </game_data>

  <game_data name="G4WAccountData">
    <title>Games for Windows Account Data</title>
    <root path="%LOCALAPPDATA%\Microsoft\XLive\Content" />
    <save />
  </game_data>

</games>